@use "@/core/styles/abstracts/variables";

.header {
  height: 95dvh;
  background-image:
    linear-gradient(
      to right bottom,
      rgba(variables.$color-primary-light, 0.7),
      rgba(variables.$color-primary-dark, 0.7)
    ),
    url("/images/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75dvh, 0 100%);
  position: relative;

  &LogoBox {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  &Logo {
    height: 35px;
  }

  &TextBox {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
