@use "@/core/styles/abstracts/variables";

.storyCard {
  width: 75%;
  margin: 5rem auto;
  box-shadow: 0 3rem 6rem rgba(variables.$color-black, 0.1);
  background-color: rgba(variables.$color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: variables.$default-font-size;
  transform: skewX(-12deg);

  &Shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
  }

  &Avatar {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &Text {
    transform: skewX(12deg);
  }

  &Caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: variables.$color-white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &:hover &Caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &Avatar {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
