@use "../../../core/styles/abstracts/variables";

.linkButton {
  &:link,
  &:visited {
    font-size: 1.6rem;
    color: variables.$color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1 solid variables.$color-primary;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: variables.$color-primary;
    color: variables.$color-white;
    box-shadow: 0 1rem 2rem rgba(variables.$color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba(variables.$color-black, 0.15);
    transform: translateY(0);
  }
}
