@use "@/core/styles/abstracts/variables";

.tourCard {
  perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  position: relative;
  height: 52rem;

  &Side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(variables.$color-black, 0.15);

    &Front {
      background-color: variables.$color-white;
    }

    &Back {
      transform: rotateY(180deg);
    }
  }

  &:hover &SideFront {
    transform: rotateY(-180deg);
  }

  &:hover &SideBack {
    transform: rotateY(0);
  }

  //Front Side Styling
  &Picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

  &Heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: variables.$color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  &HeadingSpan {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

  &Details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid variables.$color-gray-light-2;
        }
      }
    }
  }
}
