@use "../abstracts/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //This Defiens What 1rem Is
  font-size: 62.5%;
}

body {
  padding: 2rem;
  box-sizing: border-box;
}
