.u-center-text {
  text-align: center;
}

.u-margin-b-small {
  margin-bottom: 1.5rem;
}

.u-margin-b-medium {
  margin-bottom: 4rem;
}

.u-margin-b-large {
  margin-bottom: 8rem;
}

.u-margin-t-small {
  margin-bottom: 1.5rem;
}

.u-margin-t-medium {
  margin-bottom: 4rem;
}

.u-margin-t-large {
  margin-bottom: 8rem;
}

.u-margin-t-xLarge {
  margin-bottom: 8rem;
}
