@use "/src/core/styles/abstracts/variables";

.featuresSection {
  padding: 20rem 0;
  margin-top: -10rem;
  background-image:
    linear-gradient(
      to right bottom,
      rgba(variables.$color-primary-light, 0.7),
      rgba(variables.$color-primary-dark, 0.7)
    ),
    url("/images/nat-4.jpg");
  background-size: cover;

  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}
